form {
    background-color: rgb(161, 248, 180);
    padding: 20px;
}

input,
select, 
textarea {
    background-color: rgb(161, 248, 180);
    border: 1px solid rgb(57, 182, 99);
    margin: 3px;
    display: block;
}

input:hover,
select:hover,
textarea:hover {
    background-color: rgb(90, 241, 123);
}

p, #rodo {
    margin:5px;
}

select{
    height: 30px;
    width: 100px;
    margin-top: 5px;
}

textarea {
    width: 200px;
    height: 50px;
}

#male, 
#female,
#rodo {
    display: inline-block;
}

button {
    background-color: rgb(137, 238, 90);
    border-width: 1px;
    width: 50px;
    height: 30px;
    margin-top: 10px;
}

button:focus {
    background-color: rgb(107, 182, 72);
    border-width: 2px;
    width: 50px;
    height: 30px;
    margin-top: 10px;
}